<template>
	<div class="hex-row">
    <HexagonUnit v-for="logo in logos" :key="logo" :logopath="logo"></HexagonUnit>    
	</div>
</template>

<script>
import HexagonUnit from "./Unit.vue";

export default {
  name: "HexagonRow",
  components: {
    HexagonUnit
  },
  props: {
    logos: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss">
.hex-row {
  clear: left;

  &:nth-child(even) {
    margin-left: 54px;
  }
}
</style>
