<template>
  <img class="hex-unit" ref="logo" :src="require('@/assets/logos/' + logopath)" alt="">
</template>

<script>
export default {
  name: "Hexagonunit",
  props: {
    logopath: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss">
.hex-unit {
  width: 105px;
  height: 120px;
  float: left;
  margin: 0 4px -26px 0;

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.3);
    z-index: 1;
  }
}
</style>
