<template>
    <div id="app">  
        <HexagonRow v-for="logos in logosRows" :key="logos" :logos="logos"></HexagonRow>
    </div>
</template>

<script>
import HexagonRow from "./components/Hexagon/Row.vue";

export default {
  name: "app",
  components: {
    HexagonRow
  },
  created() {
    let logos_file = require("@/assets/logos.json");
    let rows = [];
    let nElements = 11; // Ten elements per row.

    for (let index = 0; index < logos_file.length; ++index) {
      if (index % nElements == 0) {
        rows.push([logos_file[index].logo_file]);
      } else {
        let arrayIndex = Math.floor(index / nElements);
        rows[arrayIndex].push(logos_file[index].logo_file);
      }
    }

    this.setRows(rows);
  },
  data() {
    return {
      logosRows: []
    };
  },
  methods: {
    setRows(rows) {
      this.logosRows = rows;
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
